*, ::after, ::before
{
  box-sizing: border-box;
}
  
  @media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

body {
     background-color: #f3f3f3;
     background-size: auto;
     align-items: center;
     font-family: Outfit, sans-serif;
     font-size: max(90%), min(10%);
     margin: 10em 0 0 0;
}

h2 {
  font-family: Alexandria, sans-serif;
}

@media (max-width: 640px) {
  body {
     font-size: min(3vw);
    width: 100%;
  }

  .header {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .logo-wrap img {
    height: auto;
    max-width: 10%;
}

  .nav-bar {
  display: none;
} 

.dropbtn {
  background-color: #D46842;
  color: #f3f3f3;
  padding: 8px 13px;
  font-size: 18px;
  margin: 20px;
  border: none;
  cursor: pointer;
  border-radius: 100%;
}

header .dropdown {
  position: relative;
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f3f3f3;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 99;
  cursor: pointer;
  right: 20px; 
  top: 60px;
}

.dropdown-content a {
  color: #463f3a;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  left: auto;
}

.dropdown-content a:hover {
  background-color:  #D46842;
  color: #f3f3f3;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #463f3a;
}
}

@media (max-width: 480px) {
  body {
    font-size: min(3vw);
    width: 100%;
  }

  .header {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .logo-wrap img {
    height: auto;
    max-width: 10%;
}

  .nav-bar {
  display: none;
} 

.dropbtn {
  background-color: #D46842;
  color: #f3f3f3;
  padding: 8px 13px;
  font-size: 18px;
  margin: 20px;
  border: none;
  cursor: pointer;
  border-radius: 100%;
}

header .dropdown {
  position: relative;
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f3f3f3;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 99;
  cursor: pointer;
  right: 20px; 
  top: 60px;
}

.dropdown-content a {
  color: #463f3a;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  left: auto;
}

.dropdown-content a:hover {
  background-color:  #D46842;
  color: #f3f3f3;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #463f3a;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em;
}

  .features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #D46842;
    width: 100%;
}

.feature {  
    color: #f3f3f3;
    margin: 3em 3em 3em 3em;
}
}

.header {
  width: 100%;
  height: 10%;
  background-color: #f3f3f3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.02), 0 6px 20px 0 rgba(0, 0, 0, 0.02);
}

.navigation {
  overflow: hidden;
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.dropdown {
  display: none;
}

.logo-wrap img {
  height: auto;
  max-width: 100px;
  margin-top: 0.8em;
  margin-left: 3em;
  position: relative;
}

ul {
  list-style-type: none;
  margin: 2em;
  overflow: hidden;
  text-decoration: none;
} 

li {
  float: right;
}

li a {
  transition: color 0.3s;
  color: #463f3a;
  text-align: center;
  margin: 1em;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 10px;
  list-style-type: none;
  display: block;
  font-family: Alexandria, sans-serif;
}

li a:hover {
    color: #f3f3f3;
    background-color: #D46842;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 250px), 1fr));
  grid-gap: 10px;
}

.gallery img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease;
  border-radius: 2px;
}

.gallery:hover img {
  transform: scale(1.02);
}

.welcome {
    text-align: center;
    margin: 5em 5em;
    padding: auto;
}

.welcome h3 {
  margin-bottom: 3em;
}

.cta-button {
    display: inline-block;
    background-color: #D46842;
    color: #f3f3f3;
    margin: 3em;
    padding: 1em 2em;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #af3a24;
    color: #f3f3f3;
}
 
#product {
  text-align: center;
} 

.product-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-card {
    width: 250px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
}

.product-image {
    width: 100%;
    height: auto;
    object-fit: cover; 
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.product-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.product-description {
    padding: 20px;
    font-size: 0.9em;
    color: #463f3a;
}

.product-card:hover {
    transform: translateY(-5px); /* Move the card up on hover */
}

.features {
    padding: 5em 3em 5em 3em;
    background-color: #D46842;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.feature {
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;  
    color: #f3f3f3;
    margin: 0em 3em 0em 3em;
}

.fa {
  font-family: "Font Awesome 5 Free";
  display: block;
  font-style: normal;
  font-variant: normal;
  height: 80px;
  margin: 20px;
  color: #f3f3f3;
}

.feature-title {
    font-size: 1.5em;
    font-weight: bold;
}

.feature-text {
    font-size: 1em;
    color: #f3f3f3;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

iframe {
   min-width: 18%;
   min-height: 32%;
   margin: 5em 5em 5em 5em;
   display: flex;
   justify-content: center;
   align-items: center;
}

#cta {
    color: #463f3a;
    text-align: center;
    padding: 2em 0;
    margin: 5em;
}

#cta h2 {
    margin: auto;
}

.cta-button {
    background-color: #D46842;
    color: #f3f3f3;
    border: none;
    font-family: Outift, sans-serif;
}

.cta-button:hover {
    background-color: #af3a24;
    color: #f3f3f3;
    border: none;
    font-family: Outift, sans-serif;
}


/* Add padding to containers */
.container {
  padding: 16px;
}

/* Full-width input fields */
input[type=email] {
  width: 70%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border-radius: 5px;
  border: none;
  background: #ffffff;
}

input[type=email]:focus {
  background-color: #ddd;
  outline: none;
}
